@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.button {
    width: 200px;
    color:white;
    background-color: lightblue;
    border: none;
    border-radius: 15px;
    height: 25px;
    font-family: 'Quicksand', sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}

.textInput {
    width: 500px;
    height: 30px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.textInputTitle {
    font-family: 'Quicksand', sans-serif;
}
