@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


.signuptitle {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 50px;
    margin-left: 35%;
}