@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

table { 
    border-spacing: 0px;
    border-collapse: separate;
    line-height: 40px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Quicksand', sans-serif;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
  }

.alignCenter {
    text-align: center;
}

.alignRight {
    text-align: right;
    padding: 0 10px 0 0;
}

.todobox {
    padding: 0 0 0 10px ;
}

.button {
    width: 100px;
    color:white;
    background-color: lightblue;
    border: none;
    border-radius: 15px;
    height: 25px;
    font-family: 'Quicksand', sans-serif;
}

button:hover {
    background-color: #1f5b78;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
      6px 6px 10px rgba(0, 0, 0, 0.2);
    color: white;
}


/* 
  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f3f0f1;
    .button {
      width: 400px;
      height: 100px;
      background: #f3f0f1;
      position: relative;
      background: #f3f0f1;
      margin-bottom: 25px;
      border-radius: 32px;
      text-align: center;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
      span {
        line-height: 100px;
        font-family: "Montserrat", sans-serif;
        font-size: 32px;
        font-weight: semibold;
      }
      &:nth-child(1) {
        box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
          6px 6px 10px rgba(0, 0, 0, 0.2);
        color: #6f6cde;
        &:hover {
          opacity: 0.3;
          box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
            6px 6px 10px rgba(0, 0, 0, 0.2);
        }
        &:active {
          opacity: 1;
          box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
            inset 8px 8px 16px rgba(0, 0, 0, 0.1);
          color: #79e3b6;
        }
      }
      &:nth-child(2) {
        opacity: 0.3;
        box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
          6px 6px 10px rgba(0, 0, 0, 0.2);
        color: #6f6cde;
      }
      &:nth-child(3) {
        box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
          inset 8px 8px 16px rgba(0, 0, 0, 0.1);
        color: #79e3b6;
        &:hover {
          opacity: 1;
          box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
            6px 6px 10px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
   */