@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


.homecenter {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 40px;
    text-align: center;
    margin-top: 10%;

}